<section class="section_about_us" id="About">
    <div class="container_about">
        <div class="about_us_text">
            <h2 class="about_title">YachtJet fleet is here to take you on the ultimate adventure</h2>
            <div class="about_description">
                <p class="about_description_title">
                    From spacious decks to state-of-the-art technology, our yachts are designed to provide the perfect
                    blend of luxury and
                    functionality.
                </p>
                <p class="about_description_text">
                    Take a look at our selection below and choose the yacht that matches your needs and preferences.No
                    matter which yacht
                    you choose, our experienced crew will ensure that your journey is smooth and enjoyable. Book now and
                    get ready for an
                    unforgettable adventure on the high seas.
                </p>
            </div>
        </div>
    <picture class="img_about">
        <source srcset="
              ./src/img/desktop/about-desk@1x.webp,
              ./src/img/desktop/about-desk@2x.webp 2x
            " media="(min-width: 1280px)" width="1180" height="470" />
        <source srcset="
              ./src/img/tablet/about-tab@1x.webp,
              ./src/img/tablet/about-tab@2x.webp 2x
            " media="(min-width: 768px)" width="704" height="470" />
        <source srcset="
              ./src/img/mob/about@1x.webp,
              ./src/img/mob/about@2x.webp 2x
            " media="(max-width: 767px)" width="335" height="395" />
        <img class="rent-image" src="./img/desktop/about-desk@1x.webp" alt="yacht on the water" width="658"
            height="534" />
    </picture>
    </div>
</section>