<section class="advant-section">
    <div class="advent-picture">
        <div class="advant-conteiner">
            <h2 class="visually-hidden">advantages</h2>
            <ol class="advant-list">
                <li class="advant-list-item decor">
                    <p class="advant-paragraph ">Swimming and water sports: try your hand at water skiing</p>
                </li>
                <li class="advant-list-item decor">
                    <p class="advant-paragraph ">Fishing: try to catch your own dinner</p>
                </li>
                <li class="advant-list-item decor">
                    <p class="advant-paragraph ">Sightseeing tours: take a shore or island tour, enjoy the views and
                        sunsets from the water</p>
                </li>
                <li class="advant-list-item decor">
                    <p class="advant-paragraph ">Rest and relaxation: read a book or listen to music while enjoying the
                        outdoor atmosphere.</p>
                </li>
            </ol>
        </div>
        <picture>
            <source srcset="./img/desktop/advantage-desk@1x.webp, " media='(min-width: 1280px)' width="432" height="424" />
            <source srcset="./img/tablet/advantage-tab@1x.webp " media='(min-width: 768px)' width="704" height="424" />
            <source srcset="./img/mob/advantage@1x.webp 1x" media='(max-width: 767px)' width="335" height="424" />
            <img class="advent-photo" src="./img/mob/advantage@1x.webp" alt="portfolio picture" />
        </picture>
    </div>
</section>