<footer class="main-footer">
    <div class="sized-content-of-footer main-footer-container">
        <div class="footer-wrapper">
            <nav class="footer-menu-link">
                <a class="logo-footer" href="./index.html">yachtjet</a>
                <ul class="link-menu">
                    <li class="footer-button">
                        <a class="footer-button-style" href="#About">About</a>
                    </li>
                    <li class="footer-button">
                        <a class="footer-button-style" href="#Yachts">Yachts</a>
                    </li>
                    <li class="footer-button">
                        <a class="footer-button-style" href="#Reviews">Reviews</a>
                    </li>
                </ul>
            </nav>
            <div class="footer-social-link">
                <ul class="social-link-list-footer">
                    <li class="link-list-footer">
                        <a class="footer-links" href="https://www.instagram.com/goitclub/" target="_blank">
                            <svg class="link-icon" width="24" height="24" aria-label="icon-instagram">
                                <use href="./img/symbol-defs.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="link-list-footer">
                        <a class="footer-links" href="https://www.youtube.com/c/GoIT" target="_blank">
                            <svg class="link-icon" width="24" height="24" aria-label="icon-youtube">
                                <use href="./img/symbol-defs.svg#icon-youtube"></use>

                            </svg>
                        </a>
                    </li>
                    <li class="link-list-footer">
                        <a class="footer-links" href="https://www.facebook.com/goITclub/" target="_blank">
                            <svg class="link-icon" width="24" height="24" aria-label="icon-facebook">
                                <use href="./img/symbol-defs.svg#icon-facebook"></use>

                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-content sized-content-of-footer">
            <p class="footer-text">No matter which yacht you choose, our experienced crew will ensure that your journey
                is smooth and
                enjoyable.</p>

            <div class="footer-downstairs">
                <p class="footer-policy">2023. Yacht Adventures</p>
                <p class="footer-policy">Privacy Police</p>
            </div>
        </div>
    </div>
</footer>