<header class="head">
  <div class="head-container-page head-container">
      <nav class="head-nav">
          <span class="head-logo-logo">
              <a class="head-logo retreat" href="">
                  yachtjet
              </a>
          </span>      
          <ul class="head-list">
              <li class="head-list-nav">
                  <a class="head-list-nav-a" href="#About">About</a>
              </li>
              <li class="head-list-nav">
                  <a class="head-list-nav-a" href="#Yachts">Yachts</a>
              </li>
              <li class="head-list-nav">
                  <a class="head-list-nav-a" href="#Reviews">Reviews</a>
              </li>
          </ul>
          <ul class="head-svg retreat">
              <li class="head-svg-network-li">
                  <a class="head-svg-network-li-svg" href="https://www.instagram.com/goitclub/" target="_blank">
                      <svg class="head-svg-network" width="24" height="24" aria-label="istagram">
                          <use class="head-svg-network-svg" href="./img/symbol-defs.svg#icon-instagram"></use>
                      </svg>
                  </a>
              </li>
              <li class="head-svg-network-li">
                  <a class="head-svg-network-li-svg" href="https://www.youtube.com/c/GoIT" target="_blank">
                      <svg class="head-svg-network" width="24" height="24" aria-label="youtube">
                          <use href="./img/symbol-defs.svg#icon-youtube"></use>
                      </svg>
                  </a>
              </li>
              <li class="head-svg-network-li">
                  <a class="head-svg-network-li-svg" href="https://www.facebook.com/goITclub/" target="_blank">
                      <svg class="head-svg-network" width="24" height="24" aria-label="facebook">
                          <use href="./img/symbol-defs.svg#icon-facebook"></use>
                      </svg>
                  </a>
              </li>
          </ul>
          <button class="section-burger js-open-menu" type="button">
              <svg class="svg-berger-svg" width="28" height="28" aria-label="burger">
                  <use href="./img/symbol-defs.svg#icon-burger "></use>

              </svg>
          </button>
      </nav>
  </div>
</header>