<header class="hed ">
  <div class=" hed-container-page hed-container">
      <nav class="hed-nav">
          <span class="hed-logo-logo">
              <a class="hed-logo retreat" href="">
                  yachtjet
              </a>
          </span>
          <ul class="hed-list">
              <li class="hed-list-nav">
                  <a class="hed-list-nav-a" href="#About">About</a>
              </li>
              <li class="hed-list-nav">
                  <a class="hed-list-nav-a" href="#Yachts">Yachts</a>
              </li>
              <li class="hed-list-nav">
                  <a href="" class="hed-list-nav-a" href="Reviews">Reviews</a>
              </li>
          </ul>
          <ul class="hed-svg retreat">
              <li class="hed-svg-network-li">
                  <a class="hed-svg-network-li-svg" href="https://www.instagram.com/goitclub/" target="_blank">
                      <svg class="hed-svg-network" width="24" height="24" aria-label="istagram">
                          <use class="hed-svg-network-svg" href="../img/symbol-defs.svg#icon-instagram"></use>
                      </svg>
                  </a>
              </li>
              <li class="hed-svg-network-li">
                  <a class="hed-svg-network-li-svg" href="https://www.youtube.com/c/GoIT" target="_blank">
                      <svg class="hed-svg-network" width="24" height="24" aria-label="youtube">
                          <use href="../img/symbol-defs.svg#icon-youtube"></use>
                      </svg>
                  </a>
              </li>
              <li class="hed-svg-network-li">
                  <a class="hed-svg-network-li-svg" href="https://www.facebook.com/goITclub/" target="_blank">
                      <svg class="hed-svg-network" width="24" height="24" aria-label="facebook">
                          <use href="../img/symbol-defs.svg#icon-facebook"></use>
                      </svg>
                  </a>
              </li>
          </ul>
          <button class="section-burger" type="button">
              <svg class="svg-berger-svg" width="28" height="28" aria-label="burger">
                  <use href="../img/symbol-defs.svg#icon-burger "></use>
              </svg>
          </button>
      </nav>
  </div>
</header>