<div class="mobile-menu-wrapper js-menu-container">
    
    <div class="mobile-container">
        <div class="mobile-menu-container">
        <a class="mobile-logo-link" href="">yachtjet</a>
        <button class="mobile-menu-close-btn js-close-menu">
            <svg
                    class="mobile-menu-close-btn-icon"
                    width="28"
                    height="28"
                    aria-label="mobile menu close icon">
                    <use href="./img/symbol-defs.svg#icon-vector-close"></use>
            </svg>
            </button>
            
            </div>
            <nav class="mobile-menu-navigation">
                <ul class="mobile-menu-list">
                    <li class="mobile-menu-item">
                        <a class="mobile-menu-link" href="#About">about</a>
                    </li>
                    <li class="mobile-menu-item">
                        <a class="mobile-menu-link" href="#Yachts">yachts
                        </a>
                    </li>
                    <li class="mobile-menu-item">
                        <a class="mobile-menu-link" href="#Reviews">reviews </a>
                    </li>
                </ul>
        
            </nav>
        
            <ul class="mobile-social-list">
                <li class="mobile-social-list-item">
                    <a class="mobile-spcial-link" href="https://www.instagram.com/goitclub/" target="_blank">
                        <svg class="head-svg-network" width="24" height="24" aria-label="istagram">
                            <use class="head-svg-network-svg" href="./img/symbol-defs.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="mobile-social-list-item">
                    <a class="mobile-spcial-link" href="https://www.youtube.com/c/GoIT" target="_blank">
                        <svg class="head-svg-network" width="24" height="24" aria-label="youtube">
                            <use href="./img/symbol-defs.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
                <li class="mobile-social-list-item">
                    <a class="mobile-spcial-link" href="https://www.facebook.com/goITclub/" target="_blank">
                        <svg class="head-svg-network" width="24" height="24" aria-label="facebook">
                            <use href="./img/symbol-defs.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>

    </div>
</div>