<div class="mobile-menu-contact is-open">
    <div class="container mobile-menu-container">
        <form class="contact-form-form">
            <input class="contact-form-input" type="text" placeholder="yachtjet">
        </form>

        <button class="bacgdrop-modele-svg" type="button">
            <svg class="bacgdrop-modele-svg-close" width="16" height="16" aria-label="icons-close">
                <use href="./img/symbol-defs.svg#icon-vector-close"></use>
            </svg>
        </button>

        <nav class="navigation-mobile">
            <ul class="mobile-menu">
                <li class="mobile-menu-li-one list link">
                    <a class="mobile-menu-li-a" href="">About</a>
                </li>
                <li class="mobile-menu-li-two list link">
                    <a class="mobile-menu-li-a" href="">Yachts</a>
                </li>
                <li class="mobile-menu-li-two list link">
                    <a class="mobile-menu-li-a" href="">Reviews</a>
                </li>
            </ul>
        </nav>
        <div class="mobile-box">
            <div class="mobile-menu-icons-link">
                <ul class="svg-footer">
                    <li class="svg-footer-ul link">
                        <a class="a-footer-svg" href="">
                            <svg class="social-network" width="19" height="19" aria-label="instagram">
                                <use href="./img/symbol-defs.svg#icon-instagram">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="svg-footer-ul link">
                        <a class="a-footer-svg" href="">
                            <svg class="social-network" width="20" height="20">
                                <use href="./img/symbol-defs.svg#icon-youtube" aria-label="youtube">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="svg-footer-ul link">
                        <a class="a-footer-svg" href="">
                            <svg class="social-network" width="20" height="20">
                                <use href="./img/symbol-defs.svg#icon-facebook" aria-label=" facebook">
                                </use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>