<section class="section_reviews " id="reviews">
    <div class="container_reviews">
        <div class="reviews-box-title">
            <h2 class="reviews_title">YachtJet take pride in providing the best possible service and experience to our customers</h2>
            <p class="reviews_text">Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for it - read on to find out what they have to say about their journey with us.</p>

        </div>
        <ul class="reviews-list">
            <li class="reviews-item">
              <div class="reviews-box-photo">
                <img srcset="../img/desktop/john-wax@1x.png 1x, ../img/desktop/john-wax@2x.png 2x" src="../img/desktop/john-wax@1x.png" alt="John Wax">
              </div>
              <div class="reviews-card">
                <h3 class="reviews-title-name">John Wax</h3>
                <p class="reviews-list-text">I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever. The yacht was spacious, comfortable, and luxurious, and the crew took care of everything. </p>

              </div>
            </li>
            <li class="reviews-item">
                <div class="reviews-box-photo">
                    <img srcset="../img/desktop/victoria@1x.png 1x, ../img/desktop/victoria@2x.png 2x" src="../img/desktop/victoria@1x.png" alt="Victoria Romashenko">
                </div>
                <div class="reviews-card">
                    <h3 class="reviews-title-name">Victoria Romashenko</h3>
                    <p class="reviews-list-text">The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. The yacht was beautifully designed, with all the amenities we needed, and the crew was attentive and friendly. </p>

                </div>
            </li>
            <li class="reviews-item">
               <div class="reviews-box-photo">
                <img srcset="../img/desktop/ihor@1x.png 1x, ../img/desktop/ihor@2x.png 2x" src="../img/desktop/ihor@1x.png" alt="Ihor Trachuk">
               </div>
               <div class="reviews-card">
                <h3 class="reviews-title-name">Ihor Trachuk</h3>
                <p class="reviews-list-text">The Azimut 80 was the most luxurious yacht I've ever been on. The cabins were spacious and elegant, and the outdoor areas were perfect for relaxing and entertaining. Worth every penny!</p>

               </div>
            </li>
        </ul>
    </div>
</section>

