
/* Mobile */
.section_about_us {
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.container_about {
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.about_us_text {
    display: flex;
    width: 100%;
    padding: 40px 20px 400px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    border-radius: 24px;
    background: #FBFBFB;

}

.about_title {
    width: 100%;
    color: #1B414B;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.56px;
}

.about_description {
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about_description_title {
    text-align: left;


    width: 100%;
    color: #1B414B;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.36px;
}

.about_description_text {
    opacity: 0.4;

    width: 100%;
    color: #040306;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.24px;
}

.img_about {
    position: absolute;
    left: auto; 
    bottom: 0px;
    width: 100%;
    object-fit: cover; 
    flex-shrink: 0;
    border-radius: 24px;
}

@media screen and (min-width: 375px) 
{
    .about_us_text {
        width: 335px;
    }

    .about_title, 
    .about_description, 
    .about_description_title,
    .about_description_text{
        width: 295px;
    }



}
/* Tablet */
@media screen and (min-width: 768px) {

    .section_about_us {
            padding-bottom: 276px;
        }
    .about_us_text {
        width: 704px;
        height: 675px;
        border-radius: 24px;
        background-color: #FBFBFB;
        display: inline-flex;
        padding: 50px 136px 244px 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }

    .about_title {

        width: 536px;
        color: #1B414B;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: -0.96px;
    }

    .about_description {
        width: 389px;
        height: 187px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .about_description_title {
        color: #1B414B;
        font-family: Inter;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.46px;
    }

    .about_description_text {
        color: #040306;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 115%;
        letter-spacing: -0.26px;
        opacity: 0.4;
    }

    .img_about {
        top: 480px;
    }
}

/* Desktop */
@media screen and (min-width: 1280px) {

    .section_about_us {
            padding-bottom: 155px;
        }
    .about_us_text {
        width: 1180px;
        height: 675px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        border-radius: 24px;
        background-color: #FBFBFB;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .about_title {
        color: #1B414B;
        width: 537px;
        height: 144px;
        margin-top: 50px;
        margin-left: 50px;
        font-family: Inter;
        font-size: 48px;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: -0.02em;
        text-align: left;
    }

    .about_description {
        width: 354px;
        height: 210px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .about_description_title {
        font-family: Inter;
        color: #1B414B;
        font-size: 23px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: -0.02em;
        text-align: left;
    }

    .about_description_text {
        color: #040306;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 115%;
        letter-spacing: -0.26px;
        opacity: 0.4;
    }

    .img_about {
        top: 360px;
    }
}