
.main-footer {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 40px;
    padding-bottom: 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    border-radius: 24px 24px 0px 0px;
    background: #1B414B;
}

.main-footer-container {
    display: flex;
    flex-direction: column;
}

.footer-menu-link {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.link-menu {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.logo-footer {
    color: #FBFBFB;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.03em;
}

.footer-button {
    margin-right: 4px;
    min-height: 40px;
    display: flex;
}

.footer-button:last-child {
    margin-right: 0;
}

.footer-button:hover .footer-button-style {
    background-color: rgba(251, 251, 251, 1);
    color: rgba(27, 65, 75, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button-style {
    color: #FBFBFB;
    text-align: center;
    font-family: Inter;
    font-size: 9px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
    padding: 15px 12px;
    border-radius: 8px;
    background: rgba(251, 251, 251, 0.30);
}

.footer-social-link {
    min-width: 88px;
    height: 24px;
    display: flex;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    justify-content: center;
}

.social-link-list-footer {
    display: flex;
}

.link-icon {
    fill: rgba(251, 251, 251, 1);
    stroke: black;
}

.footer-links {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer-links:hover .link-icon {
    fill: rgba(251, 251, 251, 0.8);
    stroke: rgba(6, 39, 48, 1);
}

.link-list-footer {
    height: 24px;
    width: 24px;
    text-align: center;
    margin-right: 8px;
}

.link-list-footer:last-child {
    margin-right: 0;
}

.footer-content {
    margin-bottom: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: inherit;
}

.footer-text {
    color: #FBFBFB;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 82px;
    max-width: 279px;
}

.footer-downstairs {
    display: flex;
}

.footer-policy {
    color: rgba(251, 251, 251, 0.40);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.footer-policy+.footer-policy {
    margin-left: 20px;
}


@media only screen and (max-width: 374px) {
    .sized-content-of-footer {
       max-width: 355px;
        text-align: center;
    }

    .footer-social-link {
        text-align: center;
    }

    .link-menu {
        margin-right: auto;
    }

    .footer-content {
        padding-left: 0;
        padding-right: 0;
    }
}


@media only screen and (min-width: 375px) and (max-width: 765px) {
    .footer-menu-link {
        padding-left: 30px;
        padding-right: 30px;
        min-width: 355px;
    }

    .link-menu {
        margin-right: 30px;
    }

    .footer-button-style {
        width: 66px;
    }

    .footer-menu-link {
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    .main-footer {
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px;
    
        width: 736px;
    }

  

    .footer-social-link {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .footer-wrapper {
        display: flex;
        margin-bottom: 96px;
        margin-left: 48px;
        margin-right: 48px;
    }

    .link-menu {
        margin-left: 106px;
        margin-right: 91px;
    }

    .footer-button-style {
        width: 91px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .logo-footer {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.03em;
    }

    .footer-downstairs {
        justify-content: center;
    }

    .footer-text {
        max-width: 640px;
        font-size: 32px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.02em;
        margin-bottom: 99px;
    }

    .footer-policy {
        font-size: 14px;
        line-height: 1.18;
    }

    .footer-policy+.footer-policy {
        margin-left: 32px;
    }
}

@media only screen and (min-width: 1280px) {
    .main-footer {
      padding-left: 25px;
      padding-right: 25px;
      width: 1230px;
    }

    .footer-menu-link {
        min-width: 992px;
    }

    .footer-social-link {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .footer-wrapper {
        display: flex;
        margin-bottom: 96px;
        margin-left: 0;
        margin-right: 0;
    }

    .link-menu {
        margin-left: 326px;
        margin-right: 0;
    }

    .footer-button-style {
        width: 91px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .logo-footer {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.03em;
    }

    .footer-downstairs {
        justify-content: center;
    }

    .footer-text {
        max-width: 693px;
        font-size: 32px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.02em;
        margin-bottom: 99px;
    }

    .footer-policy {
        font-size: 14px;
        line-height: 1.18;
    }

    .footer-policy+.footer-policy {
        margin-left: 32px;
    }
}