.head{
  position: absolute;
  left:0; 
  right: 0;
  margin: 0 auto;
  max-width: 1440px;
}
/* ============  MOBILE STYLES HEADER =========== */
.head {
  max-width: 375px;

}
.head-container{
  width: 375px;
  padding-top: 20px;
 padding-right: 20px;
 padding-left: 20px;
 margin-left: auto;
margin-right: auto;
 
}
.head-container-page {
  display: flex;
  align-items: center; 
   justify-content: space-between;

}

.head-nav {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #FBFBFB;
  background: #FBFBFB;
  width: 335px;
  height: 42px;
  margin:auto;
  justify-content: space-between;
}

.head-logo-logo {
  padding: 12px 0 12px 20px;
}

.head-logo {
  color: #1B414B;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.03em;
}

.head-list {
  display: none;
}

.head-svg {
  display: none;
}

.section-burger {
  border: none;
  padding: 0;
  background-color: transparent;
  stroke: #1B414B;
  line-height: 0;
}

.section-burger {
  padding: 7px 20px 7px 0;
}


/* ============  /MOBILE STYLES HEADER =========== */

/* ============  TABLET STYLES HEADER =========== */
@media screen and (min-width:768px) {

  .head {
    max-width: 768px;
  }
  .head-container{
    width: 768px;
    padding-top: 32px;
    padding-right: 32px;
    padding-left: 32px;
  }
  .head-nav {
    width: 704px;
    height: 48px;
    justify-content: space-between;

  }
  .head-logo-logo {
    padding: 12px 0 12px 28px;
  }

  .head-logo {
    color: #1B414B;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.03em;
  }

  .head-list {
    display: flex;
    gap: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .head-list-nav-a {
    display: block;
    text-align: center;
    padding: 15px 25px;
    color: #FBFBFB;

    font-family: 'Inter', sans-serif;
    font-size: 9px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;

  }

  .head-list-nav {
    border-radius: 8px;
    background: rgba(27, 65, 75, 0.50);
    width: 91px;
    height: 40px;
    flex-shrink: 0;
  
  }

  .head-list-nav:hover {
    background-color: #1B414B;
  }

  .section-burger {
    display: none;
  }

  .head-svg-network {
    fill: #1B414B;
  }
  .head-svg{
    display: flex;
    padding: 12px 28px 12px 0;
    gap:8px;

  
  }
  .head-svg-network-li{
    line-height: 0;
  }
}

/* ============  /TABLET STYLES HEADER =========== */

/* ============  DESKTOP STYLES HEADER =========== */
@media screen and (min-width:1280px) {

  .head {
    max-width: 1280px;
    margin: 0 auto;
  }
  .head-container{
    width: 1280px;
    padding-top: 32px;
    padding-right: 100px;
    padding-left: 100px;
  }
  .head-nav {
    width: 1080px;
    height: 48px;
  }
  .head-logo-logo {
    padding: 12px 0 12px 30px;
  }
  .head-svg {
    padding: 12px 30px 12px 0;
    gap: 8px;
  }
      
}
 /* ============  /DESKTOP STYLES HEADER =========== */