
.hero-section {
    padding-top: 198px;
    padding-bottom: 243px;
    text-align: center;
    background-image: url("../img/mob/hero@1x.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-container {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 375px;
    display: flex;
    flex-direction: column;
}
.hero-title {
    color: #FBFBFB;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 24px;
}
.hero-text {
    text-align: center;
    color: rgba(251, 251, 251, 0.70);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
}
.hero-link {
    min-width: 141px;
    margin-right: auto;
    margin-left: auto;
    padding: 14px 32px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.02em;
    border-radius: 15px;
    border: none;
    color: #fbfbfb;
    background-color: #1b414b;
    text-align: center;
    transition: color 250ms linear, background-color 250ms linear;
}
.hero-link:hover,
.hero-link:focus {
    background-color: #fbfbfb;
    color: #1b414b;
}
.hero-link-cont {
    margin-top: 32px;
    display: flex;
    align-items: center;
}
@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .hero-section {
        background-image: url("../img/mob/hero@2x.webp");
    }
}

/* -----------TABLETE HERO------------ */

@media screen and (min-width: 768px) {
    .hero-section {
        background-image: url("../img/tablet/hero-tab@1x.webp");
        background-color: darkgray;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 200px;
        padding-bottom: 215px;
    }
    .hero-container {
        padding-left: 32px;
        padding-right: 32px;
        margin-right: auto;
        margin-left: auto;
        max-width: 768px;
    }
    .hero-title {
        margin-bottom: 24px;
        color: #FBFBFB;
        text-align: center;
        font-size: 70px;
        font-style: normal;
        font-weight: 500;
        line-height: 70px;
        letter-spacing: -1.4px;
        height: auto;
    }
    .hero-text {
        text-align: center;
        color: rgba(251, 251, 251, 0.70);
        text-align: center;
        font-weight: 300;
        line-height: 14px;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        width: 704px;
        margin-left: auto;
        margin-right: auto;
    }
    .hero-link {
        min-width: 179px;
        padding: 16px 40px;
        font-size: 18px;
        line-height: 1.1;
    }
    .hero-link-cont {
        margin-top: 42px;
    }
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .hero-section {
        background-image: url("../img/tablet/hero-tab@2x.webp");
    }
}

/* ------------DESKTOP HERO------------- */

@media screen and (min-width: 1280px) {
    .hero-section {
        background-image: url("../img/desktop/hero-desk@1x.webp");
        background-color: darkgray;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 235px;
        padding-bottom: 215px;
    }
    .hero-container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 140px;
        padding-right: 139px;
        max-width: 1280px;
    }
    .hero-title {
        color: #FBFBFB;
        text-align: center;
        font-family: Inter;
        font-size: 80px;
        font-style: normal;
        font-weight: 500;
        line-height: 80px;
        letter-spacing: -1.6px;
    }
    .hero-text {
        color: rgba(251, 251, 251, 0.70);
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        width: 597px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
    .hero-section {
        background-image: url("../img/desktop/hero-desk@2x.webp");
    }
}