.container {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.mobile-menu-contact {
    display: flex;
    text-align: center;
    /* padding: 72px 24px 40px 16px; */
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background: #0E1823;
    ;
    /* padding: 72px; */
    /* padding-left: 16px; */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-beier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-beier (0.4, 0, 0.2, 1);
    overflow-y: auto;
    flex-direction: column;

}

.mobile-menu-contact.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.contact-form-form {
    padding-top: 16px;
    padding-bottom: 201px;
}

.contact-form-input {
    position: relative;
    width: 335px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #FBFBFB;
    background: #FBFBFB;

}

.input {
    padding: 10px;
    /* Выберите нужный вам размер отступа */
}

.bacgdrop-modele-svg {
    position: absolute;
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-left: 287px;
    margin-top: 23px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.bacgdrop-modele-svg-close {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    fill: #055545;
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
}

.mobile-menu-li-one {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 91px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #1B414B;
    margin-bottom: 4px;
}

.mobile-menu-li-two {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 91px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(27, 65, 75, 0.50);
    margin-bottom: 4px;
}

/* .mobile-menu-li-a {
    color: var(--NAVY-BLUE, #000000);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;

} */

.navigation-mobile {
    /* margin-left: 142px; */
}

.mobile-box {
    margin-bottom: auto;
}

.mobile-menu-adres {
    margin-bottom: 48px;
    font-style: normal;
}

.mobile-menu-adres-email-link {
    color: #4D5AE5;

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
}

.mobile-menu-li-a {
    width: 42px;
    height: 10px;
    flex-shrink: 0;
    color: #FBFBFB;
    text-align: center;
    font-family: Inter;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 11.7px */
    text-transform: uppercase;
}

.mobile-menu-adres-link {
    color: var(--SLATE, #434455);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;

}

.mobile-menu-adres-li {
    margin-bottom: 24px;
}

.mobile-menu {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

.svg-footer {
    margin-top: 361px;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-footer-ul {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

input {
    padding: 20px;
}

input::placeholder {
    color: #1B414B;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.42px;
}