.our-yachts-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .our-yachts-section {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.our-yachts-container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .our-yachts-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .our-yachts-container {
    max-width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.our-yachts-title {
  width: 270px;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .our-yachts-title {
    width: 525px;
    font-size: 48px;
    margin-bottom: 75px;
  }
}

@media screen and (min-width: 1280px) {
  .our-yachts-title {
    width: 550px;
  }
}

.our-yachts-item-img {
  width: 302px;
  height: 240px;
  border-radius: 24px;
  background-color: lightgray -56.028px -2px / 144.72% 102.5% no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .our-yachts-item-img {
    width: 304px;
    height: 268px;
    box-shadow: none;
  }
}

@media screen and (min-width: 1280px) {
  .our-yachts-item-img {
    width: 345px;
    height: 268px;
  }
}

.our-yachts-list {
  display: flex;
}

@media screen and (min-width: 768px) {
  .our-yachts-list {
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .our-yachts-list {
    gap: 25px;
  }
}

.our-yachts-item {
  width: 334px;
  background-color: #fbfbfb;
  border-radius: 24px;
  padding: 16px 16px 32px 16px;
}

@media screen and (max-width: 767px) {
  .our-yachts-item:nth-child(n + 2) {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .our-yachts-item {
    width: 336px;
  }

  .our-yachts-item:last-child {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .our-yachts-item {
    width: calc((100% - 25px) / 2);
  }
}

.our-yachts-about {
  padding: 32px 16px 0 16px;
}

.our-yachts-description-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.our-yachts-description-list::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(4, 3, 6, 0.1);
  content: ' ';
}

.our-yachts-description-name {
  color: #1b414b;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: -0.045em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .our-yachts-description-name {
    font-size: 16px;
    line-height: 1.2;
  }
}

.name-overflow {
  width: 145px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 1279px) {
  .name-overflow {
    width: 120px;
  }
}

.our-yachts-description-luxury {
  color: #040306;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.4;
}

@media screen and (min-width: 768px) {
  .our-yachts-description-name {
    font-size: 13px;
    line-height: 1.18;
  }
}

.our-yachts-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.our-yachts-details-left-item {
  color: #040306;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.4;
  margin-bottom: 6px;
}

.our-yachts-details-left-item:last-child {
  margin-bottom: 0;
}

.our-yachts-details-right-item {
  color: #040306;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 6px;
}

.our-yachts-details-right-item:last-child {
  margin-bottom: 0;
}

.yacht-rental-scroll-down {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .yacht-rental-scroll-down {
    margin-top: 50px;
  }
}

.yacht-rental-scroll-down-link {
  min-width: 141px;
  margin-right: auto;
  margin-left: auto;
  padding: 14px 32px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.02em;
  border-radius: 15px;
  border: 1px solid rgba(251, 251, 251, 0.35);
  color: #fbfbfb;
  text-align: center;
  transition: color 250ms linear, background-color 250ms linear;
}

@media screen and (min-width: 768px) {
  .yacht-rental-scroll-down-link {
    min-width: 179px;
    padding: 16px 40px;
    font-size: 18px;
    line-height: 1.1;
  }
}

.yacht-rental-scroll-down-link:hover,
.yacht-rental-scroll-down-link:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}
