.section_reviews{
    background: #0E1823;
}
.container_reviews{
    max-width: 375px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .container_reviews {
      max-width: 768px;
      padding: 75px 32px;
    } }
    
    @media screen and (min-width: 1280px) {
.container_reviews{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    }

.reviews-box-title{
    display: inline-flex;
flex-direction: column;
align-items: center;
gap: 25px;
margin-bottom: 40px;
}
@media screen and (min-width: 768px){
    .reviews-box-title{
        margin-bottom: 75px;
    }
}



.reviews_title{
    color: #FBFBFB;
text-align: center;
font-size: 28px;
font-weight: 500;
line-height: 1; /* 100% */
letter-spacing: -0.02em;

}
@media screen and (min-width: 768px) {
    .reviews_title{
        width: 704px;
        font-size: 48px;
    }
}
@media screen and (min-width: 1280px){
    .reviews_title{
        width: 854px;
    }
}


.reviews_text{
    color: #FBFBFB;
text-align: center;
font-size: 12px;
font-weight: 400;
line-height: 1.2; /* 116.667% */
letter-spacing: -0.02em;
opacity: 0.4;
}
@media screen and (min-width: 768px){
    .reviews_text{
        font-size: 14px;
        line-height: 1.3; 
        width: 571px;
    }
}


.reviews-item:nth-child(2),
.reviews-item:nth-child(3){
    display: none;
}
.reviews-item{
    border-radius: 24px;
background: #FBFBFB;
padding: 32px 8px;
}
@media screen and (min-width: 768px){
    .reviews-item:nth-child(2){
        display: block;
    }
    .reviews-list{
        display: flex;
        column-gap: 32px;
        justify-content: center;
    }
}
@media screen and (min-width: 1280px){
    .reviews-item:nth-child(3){
display: block;
    }
    .reviews-list{
        column-gap: 26px;
    }
    .reviews-item{
        padding: 32px 28px;
        transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .reviews-item:hover,
    .reviews-item:focus{
        scale: 1.1;
    }
}

.reviews-title-name{
    color: #040306;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1; /* 19.8px */
    letter-spacing: -0.02em;
    
}
.reviews-card{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

}
@media screen and (min-width: 768px){
    .reviews-card{
        padding-left: 8px;
        padding-right: 8px;
    }
}

.reviews-list-text{
    color: rgba(4, 3, 6, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.4; /* 22.4px */
letter-spacing: -0.02em;
max-width: 303px;
}
.reviews-box-photo{
    width: 56px;
    height: 56px;
    margin: 0 auto 24px auto;
}